@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary-color: rgb(125, 190, 230);


* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Roboto";
}

header {
  .bg-img {
    height: 50vh;
    background-image: url(./static/images/bg-top2.jpg);
    background-size: cover;
    background-position: center;
  }
  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #2373d2;
    margin: 0;
  }
  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #2373d2;
    margin: 0;
    margin-bottom: 100px;
  }
  .list-buttons {
    display: flex;
    justify-content: space-around;
  }
  .sorting {
    #sortField {
      margin: 15px;
    }
  }
  margin-bottom: 20px;
}

.btn {
  background-color: $primary-color;
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: white;  
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  font-size: 1.05rem;
  font-weight: 700;
  margin: 15px 15px 0px 15px;
  cursor: pointer;
  &--reserver{
    margin: 0;
  }
  &--cache{
    margin: 15px;
    padding: 0 5px;
  }
}
.btn:disabled {
  opacity: 0.25; 
  cursor: not-allowed;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my-card {    
  display: block;
  position: relative;      
  width: 340px;           
  background-color: white;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  padding-bottom: 5px;
  margin: 10px;
  &__img--top {
      width: 308px;
      height: 250px;           
      object-fit: cover; 
      margin: 15px 15px; 
  }
  &__body {
      margin: 0 15px 25px 15px;
  }
  &__title {
      font-weight: 700;
      font-size: 1.1rem;
      text-align: left;
      margin: 5px 0;
  }
  &__text {
      text-align: left;
      margin-bottom: 10px;    
  }
}



footer {
  .my-cart {
    padding: 20px;
    margin-top: 30px;
    p {
      font-weight: 700;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;
      color: #2373d2;
    }
    .row {      
      display: flex;
      justify-content: center;
      max-width: 80%;
      min-width: 300px;
      border: $primary-color solid 0.5px;
      margin: 0 auto;
      text-align: center;
      .col {
        width: 20%;
        .my-cart__title {
          color: $primary-color;
        }
      }
      .col-1 {
        width: 40%;
      }
    }  
    &__title, &__total {
      font-weight: 700;
      font-size: 1.1rem;
      text-align: center;
    }   
    &__text {      
      text-align: center;
    }
  }
  .btnFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      display: inline-block;
    }
    p {
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      margin: 20px;
    }
  }
  .total{
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px;
    color:#2373d2;
  }
  .bg-img-footer {
    height: 15vh;
    background-image: url(./static/images/bg-bottom.jpg);
    background-size: cover;
    background-position: center;
  }
} 