@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary-color: rgb(125, 190, 230);


* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Roboto";
}

header {
  h1 {
    text-align: center;
    font-size: 4rem;
    color: $primary-color;
  }
  .list-buttons {
    display: flex;
    justify-content: space-around;
  }
  margin-bottom: 20px;
}

.btn {
  background-color: $primary-color;
  border: none;
  padding: 10px;
  border-radius: 3px;
  color: white;  
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  font-size: 1.05rem;
  font-weight: 700;
  &--commande {
    margin: 20px;
  }
}
.btn:disabled {
  opacity: 0.25; 
  cursor: not-allowed;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.my-card {    
  display: block;
  position: relative;      
  width: 340px;           
  background-color: white;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  padding-bottom: 5px;
  margin: 10px;
  &__img--top {
      width: 308px;
      height: 250px;           
      object-fit: cover; 
      margin: 15px 15px; 
  }
  &__body {
      margin: 0 15px 25px 15px;
  }
  &__title {
      font-weight: 700;
      font-size: 1.1rem;
      text-align: left;
      margin: 5px 0;
  }
  &__text {
      text-align: left;
      margin-bottom: 10px;    
  }
}



footer {
  background-color: rgb(238, 236, 236);
  .my-cart {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    padding: 20px;
    margin-top: 30px;
    p {
      font-weight: 700;
      font-size: 1.3rem;
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;
    }
    .row {
      display: flex;
      // justify-content: space-around;
      max-width: 80%;
      border: $primary-color solid 1px;
      margin: 0 auto;
      .col {
        // flex-grow: 1;
        margin: 0 auto;
      }
    }  
    &__title, &__total {
      font-weight: 700;
      font-size: 1.1rem;
      text-align: center;
    }   
    &__text {      
      text-align: center;
    }

  }
  .btnFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      display: inline-block;
    }
  }
} 